{% load static %}
    <!-- About section -->
    <section class="about_achievements  section-margin " id="about">
        <div class="about_achievements__about ">
            <div class="about_achievements__about--wrapper load-hidden">
                <div class="about_achievements__about--title section-title ">About</div>
                <div class="about_achievements__about--discription-wrapper ">
                    <img src="{% static 'images/ourgrp.png' %}" alt="Group photo" class="about_achievements__about--img responsive-img">
                    <div class="about_achievements__about--text">
                        <p>This forum manifests our entrants' skills cum talents through Technical Events, Webinars, Workshops over and above Non-technical Events.
                        This year, 18 Technical Events (including Quiz, Paper Presentation, Hackathon, CAD Modelling etc,.) over and above 4 Technical Webinars and 2 Workshops are to be presided over!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_achievements__achievements load-hidden">
            <div class="about_achievements__achievements--wrapper">
                <div class="about_achievements__achievements--title section-title">Achievements</div>
                <div class="about_achievements__achievements--discription-wrapper">
                    <img src="{% static 'images/topview.png' %}"  alt="topview" class="about_achievements__achievements--img responsive-img ">
                <div class="about_achievements__achievements--text"> 
                   <p>During the Mechnotron 2022, we have governed 14 Technical Events in conjunction with 4 Technical Webinars. We accrued nearly 2700 responses for the events and 850 members have attended the webinar.
                    For the 17 Non-technical events that were co-ordinated, we acquired as close to 950 responses. These sum up to the new zenith in the history of Mechnotron with 4500+ responses.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About section end -->