
    <!-- Count section  -->
    <section class="hero__counts section-margin" id="counts">
        <div class="hero__counts--count-1">
            <span></span>
            Online Events
        </div>
        <div class="hero__counts--count-2">
            <span></span>
            Offline Events
        </div>
        <div class="hero__counts--count-3">
            <span></span>
           Webinars
        </div>
        <div class="hero__counts--count-4">
            <span></span>
            Workshops
        </div>
    </section>
    <!-- Cont section end -->