
 <!-- Footer -->
 <section class="footer">
    <div class="footer__wrapper section-margin">
        <div class="footer__linksection">
            <div class="footer__linksection-1">
                <h1>Mechnotron</h1>
                <h2>2023</h2>
            </div>
            <div class="footer__linksection-2">     
            </div>
            <div class="footer__linksection-3">
                <h3>Follow us</h3>
                <div class="social-links">
                    <!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
                    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                    <a href="https://www.instagram.com/mechnotron_2k23/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@user-sr4go8gb7o" target="_black"><i class="fab fa-youtube"></i></a>
                    <!-- <a href="#"><i class="fab fa-spotify"></i></a> -->
                </div>
            </div>
        </div>
        <div class="footer__copyrights">Copyright © 2023 Mechnotron All rights reserverd.<br>
        Made with ❤️ by <strong><a href="https://www.instagram.com/p/Cl3e-5Wp23b/" target="_blank">Mech Devs</a></strong></div>
    </div>
</section>
<!-- Footer end -->