 {% load static %}
 <!-- Hero section -->
 <section class="hero section-margin" id="home">
    <div class="hero__title  scale-in-center">MECHNOTRON</div>
    <div class="hero__content">
        <div class="hero__content--discription">
            <div class="hero__content--discription--text">
                <h1>Light up the World you Witness!</h1>
                Mechnotron, a National Level Technical Symposium, foregrounds the frontage behold by Department of Mechanical Engineering of our stately academy Coimbatore Institute of Technology!
            </div>
            <div class="hero__content--discription--buttons">
                <a href="#counts"><button class="primary-btn active-btn">explore</button></a>
            </div>
        </div>
        <div class="hero__content--mechnotron_logo">
            <img src="{% static 'images/inner.png' %}" alt="MECHNOTRON LOGO" class="hero__content--mechnotron_logo-img-inner scale-in-center1">
            <img src="{% static 'images/Outer.png' %}" alt="MECHNOTRON LOGO" class="hero__content--mechnotron_logo-img-outer">
        </div>
        <div class="hero__content--mechnotron_year">2K23</div>
    </div>
</section> 
<!-- Hero section end -->